.dashboard {
    background-color: gray;
    text-align: center;
    color: white;
    height: 120px;
    width: 100%;
    margin: 0px;
    padding-top: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}