.dashboard {
    background-color: gray;
    text-align: center;
    color: white;
    height: 120px;
    width: 100%;
    margin: 0px;
    padding-top: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.cityDiv {
    font-size: 400px;
}

#weather-display {
    border: solid thin lightgray;
    padding: 30px;
}

#day0, #day1, #day2, #day3, #day4 {
    background: #187bcd;
    color: white;
    border-radius: 10px;
    margin: 10px;
    width: 130px;
    padding-bottom: 10px;
    text-align: center;
}