.dashboard {
    background-color: gray;
    text-align: center;
    color: white;
    height: 120px;
    width: 100%;
    margin: 0px;
    padding-top: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hide {
    display: none;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

#weatherDisplay {
    border: solid thin lightgray;
    padding: 30px;
}

.text-row {
    margin-bottom: 10px;
}

.cityText {
    font-size: 30px;
    font-weight: bold;
}

.uvText {
    background-color: #ed2939;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#forecastHeader {
    font-size: 30px;
}

.forecast5 {
    background: #187bcd;
    color: white;
    border-radius: 10px;
    margin: 10px;
    width: 130px;
    padding-bottom: 10px;
    text-align: center;
}

.flex {
    display: flex;
    margin: 10px 0px 10px 0px;
}